html {
  background-color: cornflowerblue;
}

@font-face {
  font-family: 'machine-gunk';
  src: url('../fonts/MachineGunk.ttf')
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: gold;
  border: 5px solid cornflowerblue;
  box-sizing: border-box;
}

.wall {
  background-color: darkblue;
}

.power-pellet {
  background-color: pink;
  border-radius: 10px;
}

.blinky {
  background-color: red;
  border: 0px;
}

.pinky {
  background-color: pink;
  border: 0px;
}

.inky {
  background-color: cyan;
  border: 0px;
}

.clyde {
  background-color: orange;
  border: 0px;
}

.scared-ghost {
  background-color: aquamarine;
  border: 0px;
}




.pac-man {
  background-image: url('/assets/pichuu.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  /* background-color: yellow;
  border-radius: 10px; */
}

.wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.puchu {
  width: 300px;
  padding: 30px;
  margin-top: 60px;
  padding-bottom: 0;
}

.puchi {
  width: 350px;
  padding: 30px;
  margin-top: 100px;
  padding-bottom: 0;
}

.score {
  display: flex;
  justify-content: center;
  margin-left: 60px;
}

.title {
  font-family: 'machine-gunk';
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 80px;
  letter-spacing: 8px;
}

.title2 {
  font-family: 'machine-gunk';
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 80px;
  letter-spacing: 8px;
}