html {
  background-color: cornflowerblue;
}

@font-face {
  font-family: 'machine-gunk';
  src: url('../fonts/MachineGunk.ttf')
}

@font-face {
  font-family: 'atari-classic-chunky';
  src: url('../fonts/AtariClassicChunky.ttf')
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-image: url('/assets/XDZT.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 0px;
  /* border: 5px solid cornflowerblue;
  border-radius: 50%;
  box-sizing: border-box; */
}

.wall {
  background-color: #161b79;
  box-shadow: 0 0 20px 0 rgba(76, 175, 221, 0.2);
}

.power-pellet {
  background-image: url('/assets/33Ho.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 0px;
  /* background-color: pink;
  border-radius: 80%; */

}

.blinky {
  background-image: url('/assets/Charmeleon.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 0px;
}

.pinky {
  background-image: url('/assets/pinky.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 0px;
}

.inky {
  background-image: url('/assets/Azu.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 0px;
}

.clyde {
  background-image: url('/assets/leaf.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 0px;
}

.scared-ghost {
  background-color: gold;
  border-radius: 20px;
  /* position: absolute; */
  /* top: calc(5% - 3px);
  left: calc(5% - 2px); */
  width: 2px;
  height: 2px;
  background-color: cornflowerblue;
  box-shadow:
    0 0 3px 3px #fff,
    0 0 1px 3px #f0f,
    0 0 3px 3px #0ff;
}




.pac-man {
  background-image: url('/assets/pi.gif');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  /* background-color: yellow;
  border-radius: 10px; */
}

.wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.puchu {
  width: 300px;
  padding: 30px;
  margin-top: 60px;
  padding-bottom: 0;
}

.puchi {
  width: 350px;
  padding: 30px;
  margin-top: 100px;
  padding-bottom: 0;
}

.score {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  font-family: 'atari-classic-chunky';
}


.title {
  font-family: 'machine-gunk';
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 80px;
  letter-spacing: 8px;

  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


.title2 {
  font-family: 'machine-gunk';
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 80px;
  letter-spacing: 8px;
}